@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

* {
  font: var(--font-m);
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.skeleton-gradient {
  background-attachment: fixed;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--skeleton-color)
  );
  animation: skeleton-gradient-animation 1.5s linear infinite;
}

@keyframes skeleton-gradient-animation {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: -100% 0;
  }
}
