@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
  font: var(--font-m);
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
}
