.Modal {
  background-color: rgba(0 0 0 / 60%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.content-container {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  transform: scale(0.2);
  transition:
    transform var(--transition-duration1),
    opacity var(--transition-duration1);
  display: flex;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.content {
  overflow: auto;
  max-height: 100%;
}

.opened {
  opacity: 1;
  pointer-events: all;

  .content-container {
    transform: scale(1);
  }
}

.closing {
  .content-container {
    opacity: 0;
  }
}
