.content-container {
  position: absolute;
  z-index: var(--z-dropdown-items);
  background-color: var(--card-bg);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  transform: translateY(10px);
  overflow: hidden;
}

.content {
  padding: 10px 15px;
  overflow-y: auto;
}
