.Drawer {
  bottom: 0;
  max-height: 80vh;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 10px;
  animation: slide-up var(--animation-duration) forwards;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.toClosed {
  animation: slide-down var(--animation-duration) forwards;
}

.content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
