.Drawer {
  max-height: 80vh;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

.content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}
