.Drawer {
  bottom: 0;
  max-height: 80vh;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 10px;
  animation: slide-up 0.5s forwards;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.content {
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
