.app.dark {
  --bg-color: #001087;
  --inverted-bg-color: #eaeaea;

  --primary-color: #67ee00;
  --secondary-color: #238a00;
  --inverted-primary-color: #434343;
  --inverted-secondary-color: #777777;
}
