[data-theme="dark"] {
  --bg-color: #001087;
  --inverted-bg-color: #eaeaea;

  --primary-color: #67ee00;
  --secondary-color: #55c500;
  --inverted-primary-color: #434343;
  --inverted-secondary-color: #777;

  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  --code-bg: #3947b1;

  --card-bg: #0015b6;
}
