:root,
[data-theme="light"] {
  --bg-color: #eaeaea;
  --inverted-bg-color: #001087;

  --primary-color: #434343;
  --secondary-color: #777777;
  --inverted-primary-color: #67ee00;
  --inverted-secondary-color: #238a00;
}
