[data-theme="orange"] {
  --bg-color: #fbf8f4;
  --inverted-bg-color: #f09219;

  --primary-color: #434343;
  --secondary-color: #777;
  --inverted-primary-color: #fbf8f4;
  --inverted-secondary-color: #e1ddd9;
}
