.Navbar {
  background-color: var(--inverted-bg-color);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
