.ProfileCard {
  border: 2px solid var(--inverted-bg-color);
  padding: 20px;

  &.loading,
  &.error {
    height: 300px;
    justify-content: center;
    align-items: center;
  }
}

.avatar {
  margin: 0 auto;
}
