.ProfileCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--inverted-bg-color);
  padding: 20px;
  gap: 30px;

  &.loading,
  &.error {
    height: 300px;
    justify-content: center;
    align-items: center;
  }
}

.avatar {
  margin: 0 auto;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
