.App {
  background-color: var(--bg-color);
  color: var(--primary-color);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  min-height: 100vh;
}

.navbar {
  grid-column: 1 / -1;
}

.page-wrapper {
  padding: 20px;
}
